@use '../global/variables.module.scss' as *;
@use '../global/mixins.module.scss' as *;

.footer {
  background-color: var(--windows-grey);
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 3px;
  border-top: 2px solid var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  .start-button {
    @include windows-border;
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
    background-color: var(--windows-grey);
    padding: 3px 6px;
    display: flex;
    gap: 3px;
  }
  .microsoft-logo {
    width: 100%;
    max-width: 25px;
    height: auto;
  }
  .clock {
    @include windows-border-hover;
    padding: 5px 10px;
    .time {
      margin-bottom: 0;
      line-height: 1;
      font-size: 20px;
      font-weight: 400;
    }
  }
}
