@use '../global/variables.module.scss' as *;
@use '../global/mixins.module.scss' as *;

.wiki-section {
  background-color: var(--teal);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog {
  transition: all 300ms ease-out;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  // width: 100%;
  // max-width: 500px;
  // min-height: 250px;
  appearance: none;
  background-color: (var(--white));
  border: 2px solid var(--windows-grey);
  border-right: 2px solid var(--grey-dark);
  border-bottom: 2px solid var(--grey-dark);
  padding: 0;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.3);
  font-family: sans-serif;
  font-weight: 300;
  &__wrapper {
    // width: 100%;
    // height: auto;
    width: 100%;
    max-width: 500px;
    min-height: 250px;
    position: relative;
    display: block;
    @include windows-border;
    @include tablet-landscape-up {
      display: flex;
      flex-direction: column;
    }
  }
  &__header {
    background-color: var(--dark-blue);
    // border-bottom: 5px solid var(--grey);
    // box-shadow: inset 0 0 3px 0px rgba(0, 0, 0, 0.6);
    padding: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    margin: 0;
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: 700;
    color: var(--white);
    padding-left: 7px;
  }
  &__close {
    height: auto;
    padding: 0 2px;
    border-radius: 0;
    line-height: 1;
    font-size: 20px;
    cursor: pointer;
    @include windows-border;
    &:hover {
      background-color: var(--windows-grey-hover);
    }
  }
  &__body {
    padding: 8px;
    background-color: var(--windows-grey);
    display: block;
    flex: 1;
    @include tablet-landscape-up {
      padding: 24px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
  }
  &__alert {
    width: 100%;
    max-width: 65px;
    height: auto;
  }
  &__heading {
    font-size: 24px;
    margin-bottom: 5px;
  }
  &__subheading {
    font-size: 20px;
    margin-bottom: 5px;
  }
  &__text {
    font-weight: 300;
    line-height: 1.25;
    font-size: 14px;
    margin-bottom: 0;
    @include tablet-landscape-up {
      margin-left: 24px;
    }
  }
  &__buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    // gap: 16px;
  }
  &__ok {
    width: 100%;
    max-width: 100px;
    @include windows-border;
    background-color: var(--windows-grey);
    padding: 1px;
    cursor: pointer;
    @include tablet-landscape-up {
      width: auto;
      max-width: auto;
    }
    &:hover {
      background-color: var(--windows-grey-hover);
    }
    .button-wrapper {
      // padding: 8px;
      border: 1px dotted var(--grey-dark);
      @include tablet-landscape-up {
        padding: 4px 32px;
      }
    }
  }
}

[data-dialog-index='0'] {
  z-index: 6;
}
[data-dialog-index='1'] {
  z-index: 5;
  top: -20px;
  left: -20px;
}
[data-dialog-index='2'] {
  z-index: 4;
  top: -40px;
  left: -40px;
}
[data-dialog-index='3'] {
  z-index: 3;
  top: -60px;
  left: -60px;
}
[data-dialog-index='4'] {
  z-index: 2;
  top: -80px;
  left: -80px;
}
