@use '../global/variables.module.scss' as *;
@use '../global/mixins.module.scss' as *;

.wiki-section {
  background-color: var(--teal);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog {
  width: 100%;
  max-width: 500px;
  height: auto;
  min-height: 250px;
  appearance: none;
  background-color: (var(--white));
  border: 2px solid var(--grey);
  padding: 0;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.5);
  font-family: sans-serif;
  font-weight: 300;
  position: relative;
  &__wrapper {
    width: 100%;
    height: 100%;
    border-top: 2px solid var(--white);
    border-left: 2px solid var(--white);
    border-bottom: 2px solid var(--black);
    border-right: 2px solid var(--black);
  }
  &__header {
    background-color: var(--dark-blue);
    // border-bottom: 5px solid var(--grey);
    // box-shadow: inset 0 0 3px 0px rgba(0, 0, 0, 0.6);
    padding: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    margin: 0;
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: 700;
    color: var(--white);
    padding-left: 7px;
  }
  &__close {
    height: 100%;
    padding: 5px;
    border-radius: 0;
    line-height: 1;
    font-size: 20px;
    cursor: pointer;
  }
  &__body {
    padding: 8px;
    background-color: var(--grey);
    height: 100%;
    // border-right: 1px solid var(--black);
    // border-bottom: 1px solid var(--black);
    // box-shadow: inset 2px 2px 0px 1px rgba(0, 0, 0, 0.7);
    @include tablet-landscape-up {
      padding: 48px;
    }
  }
  &__heading {
    font-size: 24px;
    margin-bottom: 5px;
  }
  &__subheading {
    font-size: 20px;
    margin-bottom: 5px;
  }
  h2,
  h3,
  p {
    font-weight: 300;
    line-height: 1;
    letter-spacing: normal;
  }
  p {
    line-height: 1.2;
    font-size: 16px;
  }
  &__buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
  &__ok,
  &__cancel {
    width: 100%;
    max-width: 100px;
    border-top: 2px solid var(--white);
    border-left: 2px solid var(--white);
    border-bottom: 2px solid var(--black);
    border-right: 2px solid var(--black);
    background-color: var(--grey);
    padding: 8px;
  }
}
