@use './variables.module.scss' as *;
@use './mixins.module.scss' as *;

.icon {
  &:after {
    display: inline-block;
    font-style: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font: var(--fa-font-solid);
    color: var(--primary-color);
  }
  &--arrow-long-right {
    @extend .icon;
    &:after {
      content: '\f178';
      padding-left: var(--spacing-8);
    }
  }
  &--login {
    @extend .icon;
    &:after {
      content: '\f090';
    }
  }
  &--logout {
    @extend .icon;
    &:after {
      content: '\f08b';
    }
  }
  &--chevron-right {
    @extend .icon;
    &:after {
      content: '\f054';
    }
  }
  &--chevron-down {
    @extend .icon;
    &:after {
      content: '\f078';
    }
  }
  &--x-mark {
    @extend .icon;
    &:after {
      content: '\f00d';
    }
  }
  &--window-maximize {
    @extend .icon;
    &:after {
      content: '\f2d0';
      font: var(--fa-font-regular);
    }
  }
}
