@use './variables.module.scss' as *;
@use './mixins.module.scss' as *;
@use 'sass:math';

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  background-color: var(--secondary-color);
  box-sizing: border-box;
  scroll-behavior: smooth;
  overscroll-behavior: none;
}

html,
body {
  height: auto;
  width: auto;
  margin: 0;
  padding: 0;
}

.main {
  position: relative;
  z-index: 0;
}

.desktop {
  width: 100%;
  height: 100vh;
  background-color: var(--desktop);
  padding: 0;
  @include tablet-landscape-up {
    // padding: 2rem;
  }
  @include desktop-up {
    padding: 3rem 6rem;
  }
  @include big-desktop-up {
    padding: 4rem 8rem;
  }
}
.screen {
  width: 100%;
  height: 100%;
  background-color: var(--black);
  padding: 0;
  border: none;
  @include tablet-landscape-up {
    // @include screen-border(1rem);
    // padding: 1rem;
  }
  @include desktop-up {
    @include screen-border(1.5rem);
    padding: 1.5rem;
  }
  @include big-desktop-up {
    @include screen-border;
    padding: 2rem;
  }
  &__wrapper {
    position: relative;
    background-color: var(--teal);
    height: 100%;
    width: 100%;
    cursor: url(../../images/cursor29.png), auto;
  }
}

.section {
  position: relative;
  width: 100%;
}

.fullscreen {
  height: 100vh;
  width: 100%;
  .wrapper {
    height: 100%;
  }
}

.visually-hidden,
.visually-hide-label,
.visually-hide-text {
  position: absolute;
  right: 999999999px;
  width: 0;
  height: 0;
  opacity: 0;
}
