@use './variables.module.scss' as *;
@use './mixins.module.scss' as *;
@use 'sass:math';

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  background-color: var(--secondary-color);
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: url(../../images/background-grid--neon-green.svg),
    var(--gradient-vaporwave2);
  background-size: 100px, cover;
  background-repeat: repeat, no-repeat;
  // background-image: url(../../images/title-background3.svg);
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-attachment: fixed;
}

.main {
  position: relative;
  z-index: 0;
}

.section {
  $self: &;
  position: relative;
  width: 100%;
}

.fullscreen {
  // border-bottom: 5px solid var(--black-light);
  height: 100vh;
  width: 100%;
  .wrapper {
    height: 100%;
  }
  &--double {
    @extend .fullscreen;
    height: 200vh;
  }
}

.visually-hidden,
.visually-hide-label,
.visually-hide-text {
  position: absolute;
  right: 999999999px;
  width: 0;
  height: 0;
  opacity: 0;
}

// ********************* FLEXBOX ********************** //
.flex {
  display: block;
  @include tablet-portrait-up {
    @include flex;
  }
  &--row-reverse {
    @extend .flex;
    @include tablet-portrait-up {
      @include flex($dir: row-reverse);
    }
  }
  &--col {
    @extend .flex;
    @include tablet-portrait-up {
      @include flex($dir: column);
    }
  }
  &--col-reverse {
    @extend .flex;
    @include tablet-portrait-up {
      @include flex($dir: column-reverse);
    }
  }
  &--space-between {
    @extend .flex;
    @include tablet-portrait-up {
      @include flex($justify: space-between);
    }
  }
  &--align-top {
    @extend .flex;
    @include tablet-portrait-up {
      @include flex($align: flex-start);
    }
  }
}

// ********************* GRID ********************** //
// .grid {
//   @for $i from 1 through 5 {
//     &--#{$grid-space * $i} {
//       grid-template-columns: repeat(auto-fill, minmax($grid-space * $i, 1fr));
//       grid-template-rows: repeat(auto-fill, minmax($grid-space * $i, 1fr));
//     }
//   }
//   &--column {
//     grid-auto-flow: column;
//   }
// }

// ********************* LAYOUT MODIFIERS ********************** //
.padding {
  @each $position in $positions {
    &--#{$position} {
      @each $size in $sizes {
        &-#{$size} {
          padding-#{$position}: $size;
        }
      }
    }
  }
}
.margin {
  @each $position in $positions {
    &--#{$position} {
      @each $size in $sizes {
        &-#{$size} {
          margin-#{$position}: $size;
        }
      }
    }
  }
}

// ********************* Screen Reader Only ********************** //
.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
