@use './variables.module.scss' as *;
@use './mixins.module.scss' as *;
@use 'sass:math';

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  background-color: var(--secondary-color);
  box-sizing: border-box;
  scroll-behavior: smooth;
  overscroll-behavior: none;
}

html,
body {
  height: auto;
  width: auto;
  margin: 0;
  padding: 0;
  cursor: url(../../images/cursor29.png), auto;
}

.main {
  position: relative;
  z-index: 0;
}

.screen {
  width: 100%;
  height: 100vh;
  background-color: var(--black);
  padding: 30px;
  &__wrapper {
    position: relative;
    background-color: var(--teal);
    height: 100%;
    width: 100%;
  }
}

.section {
  position: relative;
  width: 100%;
}

.fullscreen {
  height: 100vh;
  width: 100%;
  .wrapper {
    height: 100%;
  }
}

// .wrapper {
//   width: 100%;
//   max-width: var(--site-width-xl);
//   // padding: var(--spacing-xxxl) var(--spacing-m);
//   padding: var(--spacing-xxxl) 24px;
//   @include tablet-landscape-up {
//   }
//   &:has(.content) {
//     @extend .wrapper;
//     display: block;
//     @include tablet-portrait-up {
//       @include flex;
//     }
//   }
// }

.visually-hidden,
.visually-hide-label,
.visually-hide-text {
  position: absolute;
  right: 999999999px;
  width: 0;
  height: 0;
  opacity: 0;
}
