@use './variables.module.scss' as *;
@use './mixins.module.scss' as *;

.vaporwave-text {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
  &__wrapper {
    width: 100%;
    max-width: var(--site-width-xl);
    padding: 1rem;
    height: 100%;
    margin: auto;
    @include tablet-landscape-up {
      padding: 6rem;
    }
  }
  &__image {
    opacity: 0.5;
    height: auto;
    width: 100%;
    position: absolute;
    top: 20%;
    left: 0;
    @include tablet-landscape-up {
      top: 0;
    }
  }
}
.title-mask {
  width: 100%;
  height: 100%;
  mask-image: url(../../images/vaporwave-title1.svg);
  mask-repeat: no-repeat;
  mask-position: center;
  background-color: var(--black-light);
}

#wiki-section {
  // background-image: url(../../images/checkerboard.svg);
  // background-size: 250px;
  // background-repeat: repeat;
  // background-attachment: fixed;
  // border: 7px solid var(--black);
  width: 100%;
  height: auto;
  position: relative;
  padding: var(--spacing-xxxl) 0;
  @include flex;
  .wiki {
    &__wrapper {
      @include flex;
      width: 100%;
      padding: 0 var(--spacing-m);
      position: relative;
    }
    &__box {
      width: 100%;
      max-width: var(--site-width-m);
      margin: auto;
      background: var(--white);
      // border: 3px solid var(--grey-dark);
      border-width: 5px;
      border-style: solid;
      // box-shadow: var(--box-shadow2);
      z-index: 5;
    }
    &__header {
      background-color: var(--grey);
      @include flex($justify: space-between);
      padding: 6px 8px;
    }
    &__title {
      font-size: var(--h6-font-size);
      margin-bottom: 0;
      line-height: 1;
    }
    &__name {
      font-size: var(--h6-font-size);
      margin-bottom: 0;
      line-height: 1;
    }
    &__button {
      line-height: 1;
    }
    &__content {
      padding: var(--spacing-l) var(--spacing-m);
    }
    &-wiggle {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      margin: auto;
    }
    &--5 {
      border-color: var(--cyan-rgb);
      z-index: 1;
      transform: translate(-40px, -120px);
      .wiki__header {
        background-color: var(--cyan-rgb);
      }
    }
    &--4 {
      border-color: var(--deep-sky-blue);
      z-index: 2;
      transform: translate(-30px, -90px);
      .wiki__header {
        background-color: var(--deep-sky-blue);
      }
    }
    &--3 {
      border-color: var(--blue);
      z-index: 3;
      transform: translate(-20px, -60px);
      .wiki__header {
        background-color: var(--blue);
      }
    }
    &--2 {
      border-color: var(--electric-indigo);
      z-index: 4;
      transform: translate(-10px, -30px);
      .wiki__header {
        background-color: var(--electric-indigo);
      }
    }
    &--1 {
      // border-color: darken(#ca38ff, 30%);
      border-color: var(--electric-violet);
      z-index: 5;
      .wiki__header {
        background-color: var(--electric-violet);
      }
    }
  }

  .palm {
    height: 80%;
    width: auto;
    position: absolute;
    top: 10%;
    &-left {
      left: 0;
    }
    &-right {
      right: 0;
    }
  }
}

#section--4 {
  overflow: hidden;
  background-color: var(--black);
  .stars {
    @include absolute;
    overflow: hidden;
    &__wrapper {
      width: 100%;
      height: 100%;
      position: relative;
      @include flex;
    }
    &__image {
      width: 200%;
      height: 200%;
    }
  }

  .sun {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    &__image {
      width: 20%;
      height: auto;
      position: absolute;
      left: 0;
      right: 0;
      top: 20%;
      margin: auto;
    }
  }
  .mountains-back {
    position: absolute;
    height: var(--sunset-horizon);
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: var(--black);
    border-top: 5px solid var(--purple);
    &__wrapper {
      width: 100%;
      height: 100%;
      position: relative;
    }
    .mountain {
      position: absolute;
      height: auto;
      width: 50%;
      bottom: 90%;
      @include tablet-landscape-up {
        bottom: 90%;
      }
    }
    &--left {
      left: -5%;
    }
    &--right {
      right: -5%;
    }
  }
  .sunset__grid {
    position: absolute;
    width: 100%;
    height: var(--sunset-horizon);
    left: -3px;
    bottom: 0;
    background-image: url(../../images/ground-lines.svg);
    background-size: 200%;
    background-position: top center;
    background-repeat: no-repeat;
    background-color: var(--black);
    @include tablet-landscape-up {
      background-size: 105%;
    }
  }
  .road {
    position: absolute;
    width: 100%;
    height: var(--sunset-horizon);
    left: -3px;
    bottom: 0;
    overflow: hidden;

    &__wrapper {
      position: relative;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
    }
    &__stripes {
      position: absolute;
      height: 200%;
      width: 100%;
      top: 0;
      left: 0;
      background-image: url(../../images/road-line-background.svg);
      background-size: 50px;
      background-repeat: repeat;
    }
  }
  .mountains-front {
    position: absolute;
    height: var(--sunset-horizon);
    width: 100%;
    bottom: 0;
    left: 0;
    &__wrapper {
      width: 100%;
      height: 100%;
      position: relative;
    }
    .mountain {
      position: absolute;
      height: auto;
      width: 35%;
      bottom: 90%;
    }
    &--left {
      left: -5%;
    }
    &--right {
      right: -5%;
    }
  }
  .miata {
    position: absolute;
    height: var(--sunset-horizon);
    width: 100%;
    bottom: 0;
    left: 0;
    &__wrapper {
      width: 100%;
      height: 100%;
      position: relative;
      @include flex;
    }
    &__image {
      width: auto;
      height: 60%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
}
