@use './variables.module.scss' as *;
@use './mixins.module.scss' as *;

table {
  font-family: var(--base-font-family);
  border-collapse: collapse;
  text-align: center;
}

.table {
  $self: &;
  &__head {
    background-color: var(--black);
    color: var(--white);
  }
  &__heading[scope='row'] {
    text-align: left;
    padding-left: 1rem;
  }
  &__heading[scope='col'] {
    padding: 0.5rem 1rem;
  }
  &__row {
    // padding: 0.5rem;
    border-bottom: 1px solid var(--black);
    &:last-of-type {
      #{$self}__data,
      #{$self}__heading {
        font-size: 1.35rem;
        font-weight: 700;
      }
    }
  }
  &__data {
    padding: 1rem 0.5rem;
    // font-size: 1.35rem;
    > .icon--check {
      font-size: 1.5rem;
    }
  }
}
