@use './variables.module.scss' as *;
@use './mixins.module.scss' as *;

html {
  font-size: var(--mobile-font-size);

  @include tablet-portrait-up {
    font-size: var(--tablet-font-size);
  }
  @include desktop-up {
    font-size: var(--base-font-size);
  }
  font-family: var(--base-font-family);
  font-weight: var(--base-font-weight);
  line-height: var(--base-line-height);
  color: var(--primary-color);
  -webkit-font-smoothing: antialiased;
}
p,
.p,
p span {
}

p {
  margin: 0 0 1rem 0;
}

h1,
.h1 {
  @include heading-style(var(--h1-font-size));
  &--large {
    @include heading-style(8rem);
  }
}

h2,
.h2 {
  @include heading-style(var(--h2-font-size));
}

h3,
.h3 {
  @include heading-style(var(--h3-font-size));
}

h4,
.h4 {
  @include heading-style(var(--h4-font-size));
}

h5,
.h5 {
  @include heading-style(var(--h5-font-size));
}

h6,
.h6 {
  @include heading-style(var(--h6-font-size));
}

.section__content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 1rem;
  }
}

a,
.link {
  color: var(--primary-color);
  text-decoration: underline;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.text {
  &-align {
    &--center {
      text-align: center;
    }
    &--left {
      text-align: center;
      @include tablet-landscape-up {
        text-align: left;
      }
    }
    &--right {
      text-align: center;
      @include tablet-landscape-up {
        text-align: right;
      }
    }
  }
}

.gradient {
  // $self: &;
  // @include absolute;
  // &__wrapper {
  //   position: relative;
  //   @include flex;
  //   width: 100%;
  //   height: 100%;
  // }
  &__text {
    background: var(--gradient-yellow);
    background-clip: text;
    color: transparent;

    // color: #57c6c7;
    // text-shadow: -5px 0 var(--black-light), 0 5px var(--black-light),
    //   5px 0 var(--black-light), 0 -5px var(--black-light);
    // text-stroke: 2px var(--black-light);
  }
}
