@use './variables.module.scss' as *;
@use './mixins.module.scss' as *;

html {
  font-size: var(--mobile-font-size);

  @include tablet-portrait-up {
    font-size: var(--tablet-font-size);
  }
  @include desktop-up {
    font-size: var(--base-font-size);
  }
}
p,
.p,
p span {
  font-family: var(--base-font-family);
  font-weight: var(--base-font-weight);
  line-height: var(--base-line-height);
  color: var(--secondary-color);
  -webkit-font-smoothing: antialiased;
}

p {
  margin: 0 0 1rem 0;
}

h1,
.h1 {
  @include heading-style(var(--h1-font-size));
}

h2,
.h2 {
  @include heading-style(var(--h2-font-size));
}

h3,
.h3 {
  @include heading-style(var(--h3-font-size));
}

h4,
.h4 {
  @include heading-style(var(--h4-font-size));
}

h5,
.h5 {
  @include heading-style(var(--h5-font-size));
}

h6,
.h6 {
  @include heading-style(var(--h6-font-size));
}

.section__content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 1rem;
  }
}

.link {
  color: var(--secondary-color);
  text-decoration: underline;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.text {
  &-align {
    &--center {
      text-align: center;
    }
    &--left {
      text-align: center;
      @include tablet-landscape-up {
        text-align: left;
      }
    }
    &--right {
      text-align: center;
      @include tablet-landscape-up {
        text-align: right;
      }
    }
  }
}
