@use 'sass:math';
@use 'sass:color';
@import url('https://fonts.googleapis.com/css2?family=Gajraj+One&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

:root,
[data-theme='default'] {
  // Colors
  --white: #ffffff;
  --black: #000000;
  --black-light: #404040;
  --grey: #cccccc;
  --windows-grey: hsl(207, 6%, 73%);
  --windows-grey-hover: #a3a6a8;
  --grey-dark: #252525;
  --teal: #008080;
  --dark-blue: #0a0087;
  --orange-red-crayola: hsla(0, 100%, 68%, 1);
  --slate-blue: hsla(240, 50%, 56%, 1);
  --yellow-gold: #e5c913;
  --yellow: #f7c418;
  --red-orange: #fe1c03;
  --orange: #fb700e;
  --neon-green: #6cffb9;
  --purple: #7400b8;
  --mauve: #e9c2ff;
  --pink: #ff819c;
  --grey: #ced4da;
  // --grey-dark: #adb5bd;

  // Wikis
  --brilliant-rose: #f45286;
  --hot-magenta: #e544d5;
  --phlox: #ca38ff;
  --amethyst: #a564f7;
  --vista-blue: #7f90ef;
  --process-cyan: #59bce7;
  --fluorescent-cyan: #33e8df;

  --cyan-rgb: #0cfff9ff;
  --deep-sky-blue: #00b8ffff;
  --blue: #4800ffff;
  --electric-indigo: #6f00ffff;
  --electric-violet: #9600feff;

  // gradients
  --gradient-vaporwave1: linear-gradient(
    180deg,
    hsla(187, 83%, 65%, 1) 0%,
    hsla(301, 84%, 81%, 1) 50%,
    hsla(347, 75%, 61%, 1) 100%
  );
  --gradient-vaporwave1-hex: linear-gradient(
    180deg,
    hsla(187, 83%, 65%, 1) 0%,
    hsla(301, 84%, 81%, 1) 50%,
    hsla(347, 75%, 61%, 1) 100%
  );
  --gradient-vaporwave2: linear-gradient(
    180deg,
    #00dbde 0%,
    #fc00ff 50%,
    #00dbde 100%
  );
  --gradient-vaporwave3: linear-gradient(
    0deg,
    #009aaa 0%,
    #0960ac 50%,
    #842b8f 100%
  );
  --gradient-vaporwave4: linear-gradient(0deg, #842b8f 0%, #000000 100%);
  --gradient-vaporwave5: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 25%,
    rgba(0, 0, 0, 1) 100%
  );
  --gradient-yellow: linear-gradient(180deg, #fffc00, #ffffff, #fffc00);

  // Fonts
  --base-font-family: 'Saira', sans-serif;
  --heading-font-family: 'Saira', sans-serif;

  // Font Size
  --base-font-size: 16px;
  --tablet-font-size: 14px;
  --mobile-font-size: 12px;

  --h1-font-size: 4rem;
  --h2-font-size: 3rem;
  --h3-font-size: 2rem;
  --h4-font-size: 1.5rem;
  --h5-font-size: 1.3rem;
  --h6-font-size: 1rem;

  // Line Height
  --base-line-height: 1.3em;
  --heading-line-height: 1;

  // Font Weight
  --base-font-weight: 400;
  --heading-font-weight: 700;

  // Site Width
  --site-width-xl: 1905px;
  --site-width-l: 1400px;
  --site-width-m: 1040px;
  --site-width-s: 840px;

  // Spacing
  --spacing-xs: 0.5rem;
  --spacing-s: 1rem;
  --spacing-m: 1.5rem;
  --spacing-l: 2rem;
  --spacing-xl: 3rem;
  --spacing-xxl: 4rem;
  --spacing-xxxl: 7.5rem;

  // Border
  --base-border: 5px solid var(--primary-color);

  // Box Shadow
  --box-shadow: 0px 0px 13px 16px rgba(54, 54, 54, 0.71);
  --box-shadow2: 5px 5px 5px 5px rgba(0, 0, 0, 0.71);
  --box-shadow-inset: inset 0px 0px 13px 6px rgba(54, 54, 54, 0.71);

  // Text Shadow
  --text-shadow: -3px 2px 5px rgba(54, 54, 54, 0.5);
  --text-shadow--hard: -5px 5px 0px #363636;

  // Transitions
  --base-duration: 300ms;
  --base-duration-long: 1s;
  --base-timing: ease-in-out;

  // Sunset scene
  --sunset-horizon: 35%;

  // Theme
  --primary-color: var(--black);
  --secondary-color: var(--white);
  --accent-color: var(--orange-red-crayola);
}
